body { /*background: #f5f7f9;*/background: #363947; }

th {
	background-color: #737373;
	color: #f5f1e9;
}

@import "_full-image";
@import "_layout";
@import "_brand";
@import "_menu";
@import "_sidebar";
@import "_posts";
