// Custom styles.

.tweet-button {
	text-decoration: none;
	padding-bottom: 1px;
}

.alert {
	border-style: solid;
	border-width: 1px;
	padding: 10px 15px 10px 15px;/* 上、右、下、左 */
	margin: 10px 0px 10px 0px;/* 上、右、下、左 */
	/* border-radius: 0px; */
	/* box-shadow: 5px 5px 5px #AAA; */
}

.alert-success {
	color: #3d8b40;
	border-color: #cbe7c7;
	background-color: #d9eeda;/* boot #dff0d8 */
}

.alert-info {
	color: #0c7cd5;
	border-color: #c1ebfc;
	background-color: #e3f2fd;/* boot #dff0d8 */
}

.alert-warning {
	color: #cc7a00;
	border-color: #ffd3b3;
	background-color: #ffeacc;/* boot #dff0d8 */
}

.alert-danger {
	color: #ea1c0d;
	border-color: #eed3d7;
	background-color: #f2dede;/* boot #f2dede */
}

.gist-data {
	max-height: 500px;/* 最大高さ */
	overflow: auto;/* 領域をはみ出た場合の処理。autoで通常はスクロールバーが出現 */
}

.fa {
	width: 20px;
}
